@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Peddana&display=swap);

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  font-family: 'Raleway', serif;
  font-size: 18px;
  margin: 0px;
  background: #FEF7F1;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
h1,h2 {
  font-family: Peddana;
  font-size: 30px;
}
a{
  text-decoration: none;
}
